body {
  text-align: center;
  font-family: Arial;
}

#board {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  width: 480px;
  margin: auto;
  border: 3px solid black;
}

.square {
  width: 60px;
  height: 60px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  background: #f0d9b5;
}

.black {
  background: #b58863;
}
